header {

    background: url(../../AneX_page/img/wallpapers\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .header__text-div {
        text-align: center;
        padding-top: 160px;
        padding-bottom: 40px;

        .header__text {
            color: (#FFF);
            text-align: center;
            font-family: Roboto;
            font-size: 90px;
            font-style: normal;
            font-weight: 600;
            line-height: 135px;
            text-transform: uppercase;
        }

        .header__text2 {
            color: #FFF;
            text-align: center;
            font-family: Roboto;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            padding-bottom: 30px;
        }

        .header__line-img {
            text-align: center;
        }

    }

    .header__inp-big-div {
        display: flex;
        justify-content: center;

        .header__inp-div {
            width: 928px;
            height: 64px;
            border-radius: 30px;
            background: #FFF;
            padding-top: 10px;
            display: flex;
            gap: 60px;
            margin-bottom: 250px;
            padding-left: 30px;


            .header__param-text {
                color: #A1A1A1;
                font-family: Roboto;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            .header__param-text2 {
                color: #1C1C1C;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
            }

            .header__hr {
                width: 1px;
                height: 38px;
                border: 1px solid black;
                margin-top: 0px;

            }

            .header__btn-click {
                padding: 11px 31px;
                border-radius: 30px;
                background: #EC1C24;
                border: none;
                outline: none;
                color:  #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
            }
        }
    }
}